html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'paytone-one', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #00B7FF;
}
